/*
* @Author: name
* @Date:   2021-12-13 15:23:25
* @Last Modified by:   name
* @Last Modified time: 2021-12-13 15:26:47
*/
@font-face {
    font-family:'arzhu';
    src:url('./source/font/美呗嘿嘿体2.0.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}